<div *ngIf="game">
  <div class="teamheader">
    <h1>{{ game.awayteam.slice(0, -1) }}</h1>
    <p>@</p>
    <h1>{{ game.hometeam.slice(0, -1) }}</h1>
  </div>
  <div class="oddsandfriends">
    <div class="value">
      <h2>Wager</h2>
      <input
        type="text"
        [(ngModel)]="betdata.wager"
        (input)="validateNumber($event)"
      />
    </div>
    <div class="yourodds">
      <h2>Your Odds</h2>

      <input
        type="text"
        [(ngModel)]="betdata.user1odds"
        (input)="validateNumber($event)"
      />

      <h3>Suggested: -120</h3>
    </div>
    <div class="friendsodds">
      <h2>Friends Odds</h2>
      <input
        type="text"
        [(ngModel)]="betdata.user2odds"
        (input)="validateNumber($event)"
      />
      <h3>Suggested: +130</h3>
    </div>
    <div class="friendsdropdown">
      <h2>Friends</h2>
      <select [(ngModel)]="betdata.user2">
        <option *ngFor="let friend of friends" [value]="friend.friend_id">
          {{ friend.friend_username }}
        </option>
      </select>
    </div>
  </div>
  <div class="doubleornothing">
    <p>Double or Nothing Option at End of Game?</p>
    <button (click)="ToggleDouble()">{{ doubleornothing }}</button>
  </div>
  <div class="placebet">
    <button (click)="PlaceBet()">Place Bet</button>
  </div>
  {{ response }}
</div>
