.teamheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 20px ;
  }

  .wrapper{
    background-color: #ecedf7;
    border: 1px solid black;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 20px;

   
  }

  .pickteam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .teamheader h1 {
    font-size: 26px;
    margin: 0 10px;
  }
  
  .oddsandfriends {
    margin-top: 50px;
    display: flex;
    gap: 70px;
    justify-content: center;
  }

  .oddsandfriends h2 {
    font-size: 20px;
  }
  
  .oddsandfriends h3{
    font-size: 14px;
  }
  .oddsandfriends h2{
    margin-bottom: 3px;
    
  }

  .doubleornothing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .doubleornothing button{
    margin-left: 10px;
  }

  .placebet{
    display: flex;
    justify-content: center;
  }

  .placebet button{
    width: 49%;
    height: 40px;
    border-radius: 10px;
    background-color: #818af2;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .placebet button:hover{
    cursor: pointer;
    background-color: #ecedf7;
    transition-duration: .3s;
    color: #333;
  }

  

.pickteambutton:focus{
  background-color: #818af2;
  color: #fff;
}  

.pickteambutton:hover{
  background-color: #818af2;
  color: #fff;
  transition-duration: .2s;
}

.friendsoddsinputbox, .friendsdropdown, .useroddsinputbox, .wagerinputbox {
  min-width: 10rem;
  max-width: 2rem;
  min-height: 0.5rem;
  max-height: 1.5rem;
}

  