.teamheader {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .teamheader h1 {
    font-size: 24px;
    margin: 0 10px;
  }
  
  .oddsandfriends {
    margin-top: 150px;
    display: flex;
    gap: 70px;
    justify-content: center;
  }
  
  .oddsandfriends h3{
    font-size: 14px;
  }
  .oddsandfriends h2{
    margin-bottom: 3px;
    
  }

  .doubleornothing{
    display: flex;
    margin-left: 540px;
    align-items: center;
    margin-top: 70px;
  }
  
  .doubleornothing button{
    margin-left: 10px;
  }

  .placebet{
    display: flex;
    justify-content: center;
  }

  .placebet button{
    width: 820px;
    height: 30px;
  }

  

  

  