<div *ngIf="game">
  <div class="teamheader">
    <h1>{{ game.awayteam }}</h1>
    <p>@</p>
    <h1>{{ game.hometeam }}</h1>
  </div>
  <div class="oddsandfriends">
    <div class="value">
      <h2>Wager</h2>
      <input type="text" [(ngModel)]="betdata.wager" />
    </div>
    <div class="yourodds">
      <h2>Your Odds</h2>

      <input type="text" [(ngModel)]="betdata.user1odds" />

      <h3>Suggested: -120</h3>
    </div>
    <div class="friendsodds">
      <h2>Friends Odds</h2>
      <input type="text" [(ngModel)]="betdata.user2odds" />
      <h3>Suggested: +130</h3>
    </div>
    <div class="friendsdropdown">
      <h2>Friends</h2>
      <select>
        <option>Friend 1</option>
        <option>Friend 2</option>
        <option>Friend 3</option>
      </select>
    </div>
  </div>
  <div class="doubleornothing">
    <p>Double or Nothing Option at End of Game?</p>
    <button (click)="ToggleDouble()">{{ doubleornothing }}</button>
  </div>
  <div class="placebet">
    <button (click)="PlaceBet()">Place Bet</button>
  </div>
</div>
