<nav class="navbar">
  <div class="navbar-left">
    <img src="your-logo.png" alt="Logo" class="logo" />
  </div>
  <div class="navbar-middle">
    <ul>
      <li>
        <a
          [routerLink]="['/gamesdisplay']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/ongoingbets']" routerLinkActive="router-link-active"
          >My Bets</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/friendsdisplay']"
          routerLinkActive="router-link-active"
          >Friends</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="#">Login</a>
    <a href="#">Register</a>
  </div>
</nav>
