/* navbar.component.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: white;
    height: 4rem;
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .logo {
    max-width: 100px; 
    margin-left: 10rem
  }
  
  .navbar-middle {
    flex: 2;
    text-align: center;

    
    padding: 0; 
  }

  
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0; 
  }
  
  ul li {
    display: inline;
    margin-left: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    
  }
  
  .navbar-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;

  }
  
  .navbar-right a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  
  .credits{
    margin-right: 2rem;
    font-size: 20px;
    margin-top: 9px;
  }
 

.logout{
  font-size: 12;
  height: 30px;
  margin-top: 5px;
}




 