<div>
  <h1>OUTGOING BETS</h1>
  <div *ngFor="let bet of SentBets" class="Sentbets_for">
    <h3>{{ bet.awayteam }} @ {{ bet.hometeam }}</h3>
    <p>Date: {{ bet.startdate | date : "yyyy-MM-dd" }}</p>
    <p>Time: {{ bet.time.slice(0, 5) }}</p>
    <p>Wager: ${{ bet.wager }}</p>
    <h4>Your Side</h4>
    <p>
      Team:
      {{ bet.homebettor === bet.user1 ? bet.hometeam : bet.awayteam }}
    </p>
    <p>
      Odds:
      {{ bet.user1odds >= 0 ? "+" + bet.user1odds : bet.user1odds }}
    </p>
    <p>
      Payout:
      {{ CalculatePayout(bet.wager, bet.user1odds) }}
    </p>

    <h4>Their Side:</h4>
    <p>
      Team:
      {{ bet.homebettor === bet.user2 ? bet.hometeam : bet.awayteam }}
    </p>
    <p>
      Odds:
      {{ bet.user2odds >= 0 ? "+" + bet.user2odds : bet.user2odds }}
    </p>
    <p>
      Payout:
      {{ CalculatePayout(bet.wager, bet.user2odds) }}
    </p>
  </div>
  <h2>BET HISTORY</h2>
  {{ response }}
  <div *ngFor="let bet of RecievedBets">
    <h3>{{ bet.awayteam }} @ {{ bet.hometeam }}</h3>
    <p>Date: {{ bet.startdate | date : "yyyy-MM-dd" }}</p>
    <p>Time: {{ bet.time.slice(0, 5) }}</p>
    <p>Wager: ${{ bet.wager }}</p>
    <h4>Your Side</h4>
    <p>
      Team:
      {{ bet.homebettor === bet.user2 ? bet.hometeam : bet.awayteam }}
    </p>
    <p>
      Odds:
      {{ bet.user2odds }}
    </p>
    <p>
      Payout:
      {{ CalculatePayout(bet.wager, bet.user2odds) }}
    </p>

    <h4>Their Side:</h4>
    <p>
      Team:
      {{ bet.homebettor === bet.user1 ? bet.hometeam : bet.awayteam }}
    </p>
    <p>
      Odds:
      {{ bet.user1odds }}
    </p>
    <p>
      Payout:
      {{ CalculatePayout(bet.wager, bet.user1odds) }}
    </p>
    <button (click)="BetAccepted(bet)">Accept Bet</button>
    <button (click)="BetDenied(bet)">Deny Bet</button>
  </div>
</div>
