<h1>BETS</h1>
<h2>Sent Bets</h2>
<div *ngFor="let bet of SentBets">
  <h3>{{ bet.awayteam.slice(0, -1) }} @ {{ bet.hometeam.slice(0, -1) }}</h3>
  <p>Date: {{ bet.startdate | date : "yyyy-MM-dd" }}</p>
  <p>Time: {{ bet.time.slice(0, 5) }}</p>
  <h4>Wager: ${{ bet.wager }}</h4>
  <h4>Your Side</h4>
  <p>
    Team:
    {{
      bet.homebettor === bet.user1
        ? bet.hometeam.slice(0, -1)
        : bet.awayteam.slice(0, -1)
    }}
  </p>
  <p>
    Odds:
    {{ bet.user1odds === bet.user1 ? bet.user1odds : "+" + bet.user2odds }}
  </p>
  <p>
    Payout:
    {{
      bet.user1odds === bet.user1
        ? CalculatePayout(bet.wager, bet.user1odds)
        : CalculatePayout(bet.wager, bet.user2odds)
    }}
  </p>
  <h4>Their Side:</h4>
</div>
<h2>Sent Bets</h2>
<p>{{ SentBets }}</p>
