.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: red 1px solid;
    width: 862px;
    height: 74px;
}
p{
    margin: 0;
}

.team-names {
    flex: 1;
    text-align: left;
    
}

.team{
    display: flex;
    gap: 20px;
    margin-left: 3rem;
    align-items: center;
    font-size: 8px;
    margin-top: 10px;
   margin-bottom: 10px;
}



.game-info {
    flex: 1;
    text-align: center;
    
    text-align: left;
}



.bet-info {
    flex: 1;
    
    border: #007bff 1px solid;
}

.buttons {
    border: #007bff 1px solid;
    
    margin-top: 10px;
    
    text-align: center;
}

.buttons button{
    margin: 0 5px;
    
}



.horizontal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 3rem;
    border: #007bff 1px solid;
    

}

/* Style the buttons and other elements as needed */
button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}