<div class="flex-container">
  <div class="team-names">
    <div class="team">
      <img src="https://placehold.jp/22x22.png" alt="" />
      <p>Los Angeles Sparks</p>
    </div>
    <div class="team">
      <img src="https://placehold.jp/22x22.png" alt="" />
      <p>Mancity United</p>
    </div>
  </div>
  <div class="game-info">
    <p>18:30 15 August</p>
  </div>
  <div class="bet-info">
    <div class="buttons">
      <button>Los Angeles Sparks 2.90</button>
      <button>ManCity United 2.90</button>
    </div>
    <div class="horizontal-buttons">
      <button>Custom Bet</button>
      <button>Friends</button>
      <button>Place Bet</button>
    </div>
  </div>
</div>
