<div class="flex-container">
  <div class="team-names">
    <div class="team">
      <img src="https://placehold.jp/20x20.png" alt="" />
      <p>Los Angeles Sparks</p>
    </div>
    <div class="team">
      <img src="https://placehold.jp/20x20.png" alt="" />
      <p>Mancity United</p>
    </div>
  </div>
  <div class="VS-wrap">
    <p>v</p>
    <p>s</p>
  </div>
  <div class="game-info">
    <p>18:30, 15 August</p>
  </div>
  <div class="bet-info">
    <div class="buttons">
      <div class="teambuttondata">
        <button>
          <p class="teamname-wagerbutton">Los Angeles Sparks</p>
          <p class="betodds">2.90</p>
        </button>
      </div>
      <div class="teambuttondata">
        <button>
          <p class="teamname-wagerbutton">ManCity United</p>
          <p class="betodds">2.90</p>
        </button>
      </div>
    </div>
    <div class="horizontal-buttons">
      <button class="custombet"><p>Custom Bet</p></button>
      <button><p>Friends</p></button>
      <button><p>Place Bet</p></button>
    </div>
  </div>
</div>
