<p>ongoingbets works!</p>
<div *ngFor="let bet of ongoingbets">
  <h3>{{ bet.awayteam.slice(0, -1) }} @ {{ bet.hometeam.slice(0, -1) }}</h3>
  <p>Date: {{ bet.startdate | date : "yyyy-MM-dd" }}</p>
  <p>Time: {{ bet.time.slice(0, 5) }}</p>
  <p>Wager: ${{ bet.wager }}</p>

  <div *ngIf="currentuser == bet.user1">
    <p>
      {{ bet.user1_username }} Payout:
      {{
        CalculatePayout(bet.wager, bet.user1odds) +
          " (" +
          (bet.user1odds >= 0 ? "+" + bet.user1odds : bet.user1odds) +
          ")"
      }}
    </p>
    <p>
      {{ bet.user2_username }}Payout:
      {{
        CalculatePayout(bet.wager, bet.user2odds) +
          " (" +
          (bet.user2odds >= 0 ? "+" + bet.user2odds : bet.user2odds) +
          ")"
      }}
    </p>
  </div>
  <div *ngIf="currentuser == bet.user2">
    <p>
      {{ bet.user2_username }} Payout:
      {{
        CalculatePayout(bet.wager, bet.user2odds) +
          " (" +
          (bet.user2odds >= 0 ? "+" + bet.user2odds : bet.user2odds) +
          ")"
      }}
    </p>
    <p>
      {{ bet.user1_username }} Payout:
      {{
        CalculatePayout(bet.wager, bet.user1odds) +
          " (" +
          (bet.user1odds >= 0 ? "+" + bet.user1odds : bet.user1odds) +
          ")"
      }}
    </p>
  </div>
</div>
