<div class="dashboardtitle">
  <h1>Dashboard</h1>
</div>

<div class="contentwrap">
  <div class="games_and_subnavwrap">
    <div class="subnavbar">
      <div class="subnavbar-container">
        <div class="subnavbar-item">
          <p>NBA</p>
        </div>
        <div class="subnavbar-item">
          <p>WNBA</p>
        </div>
        <div class="subnavbar-item">
          <p>Country</p>
        </div>
      </div>
    </div>

    <div class="card-container" *ngFor="let game of games">
      <div *ngIf="errorMessages[game.gameid]" class="response">
        {{ errorMessages[game.gameid] }}
      </div>
      <div class="team-names">
        <div class="team">
          <img src="https://placehold.jp/20x20.png" alt="" />
          <p>{{ game.hometeam.slice(0, -1) }}</p>
        </div>
        <div class="team">
          <img src="https://placehold.jp/20x20.png" alt="" />
          <p>{{ game.awayteam.slice(0, -1) }}</p>
        </div>
      </div>
      <div class="VS-wrap">
        <p>v</p>
        <p>s</p>
      </div>
      <div class="game-info">
        <p>{{ formatDate(game.startdate) }} @ {{ formatTime(game.time) }}</p>
      </div>
      <div class="bet-info">
        <div class="buttons">
          <div class="teambuttondata">
            <button
              class="teamname-wagerbutton"
              (click)="
                betdata.user1_onhome = true;
                betdata.gameid = game.gameid;
                betdata.user1odds = homebetodds;
                betdata.user2odds = awaybetodds
              "
            >
              <p class="teamname-wagertext">
                {{ game.hometeam.slice(0, -1) }}
              </p>
              <p class="betodds">{{ homebetodds }}</p>
            </button>
          </div>
          <div class="teambuttondata">
            <button
              (click)="
                betdata.user1_onhome = false;
                betdata.gameid = game.gameid;
                betdata.user1odds = awaybetodds;
                betdata.user2odds = homebetodds
              "
            >
              <p class="teamname-wagertext">
                {{ game.awayteam.slice(0, -1) }}
              </p>
              <p class="betodds">{{ awaybetodds }}</p>
            </button>
          </div>
        </div>
        <div class="horizontal-buttons">
          <button class="custombet" (click)="NavToBetPage(game.gameid)">
            <p>Custom Bet</p>
          </button>
          <input
            class="wagerinput"
            type="text"
            [(ngModel)]="wagers[game.gameid]"
            (input)="validateNumber($event)"
            placeholder="wager"
          />

          <button class="placebet" (click)="PlaceBet(game)">
            <p>Place Bet</p>
          </button>
        </div>
      </div>

      <div class="friendsdropdown">
        <button (click)="toggleDropdown(game.gameid)" class="dropdown-button">
          <span>></span>
        </button>

        <div *ngIf="showDropdowns[game.gameid]" class="dropdown-options">
          <ng-container *ngFor="let friend of friends">
            <ng-container
              *ngIf="
                friend.user_id === friend.currentuser &&
                friend.status === 'accepted'
              "
            >
              <button
                class="friendchoosebutton"
                [value]="friend.friend_id"
                (click)="
                  betdata.user2 = friend.friend_id;
                  showDropdowns[game.gameid] = false
                "
              >
                {{ friend.receiver_username }}
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="betslipcontainer">
        <div class="betsliptitle">
          <h1>BetSlip</h1>
        </div>
        <div class="bets">
          <div class="betrequest_outcontainer" *ngFor="let bet of incomingbets">
            <div class="betrequest_innercontainer">
              <div class="betreq_title">
                <h1>
                  {{ formatTeamName(bet.awayteam) }} vs
                  {{ formatTeamName(bet.hometeam) }}
                </h1>
              </div>
              <div class="leftrightmiddle_container_betreq">
                <div class="betreq_left">
                  <h1>{{ bet.user1_username }}</h1>
                  <h2>+210</h2>
                  <h3>{{ formatTeamName(bet.awayteam) }}</h3>
                </div>
                <div class="betreq_middle">
                  <button>Accept</button>
                  <button>Deny</button>
                  <h2>$10</h2>
                </div>
                <div class="betreq_right">
                  <h1>{{ bet.user2_username }}</h1>
                  <h2>-110</h2>
                  <h3>{{ formatTeamName(bet.hometeam) }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
